<a href="https://colab.research.google.com/github/Sandeep354/Movie-Ratings-RBM-AE/blob/main/AutoEncoders_RecommendSys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#AutoEncoders

##Downloading the dataset

###ML-100K

In [41]:
!wget "http://files.grouplens.org/datasets/movielens/ml-100k.zip"
!unzip ml-100k.zip
!ls

--2020-10-31 16:48:34--  http://files.grouplens.org/datasets/movielens/ml-100k.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4924029 (4.7M) [application/zip]
Saving to: ‘ml-100k.zip.2’

ml-100k.zip.2       100%[===================>]   4.70M  22.6MB/s    in 0.2s

2020-10-31 16:48:35 (22.6 MB/s) - ‘ml-100k.zip.2’ saved [4924029/4924029]

Archive:  ml-100k.zip
replace ml-100k/allbut.pl? [y]es, [n]o, [A]ll, [N]one, [r]ename: ml-100k      ml-100k.zip.1  ml-1m      ml-1m.zip.1
ml-100k.zip  ml-100k.zip.2  ml-1m.zip  sample_data

###ML-1M

In [42]:
!wget "http://files.grouplens.org/datasets/movielens/ml-1m.zip"
!unzip ml-1m.zip
!ls

--2020-10-31 16:48:41--  http://files.grouplens.org/datasets/movielens/ml-1m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5917549 (5.6M) [application/zip]
Saving to: ‘ml-1m.zip.2’

ml-1m.zip.2         100%[===================>]   5.64M  25.5MB/s    in 0.2s

2020-10-31 16:48:41 (25.5 MB/s) - ‘ml-1m.zip.2’ saved [5917549/5917549]

Archive:  ml-1m.zip
replace ml-1m/movies.dat? [y]es, [n]o, [A]ll, [N]one, [r]ename: ml-100k      ml-100k.zip.1  ml-1m      ml-1m.zip.1  sample_data
ml-100k.zip  ml-100k.zip.2  ml-1m.zip  ml-1m.zip.2

##Importing the libraries

In [43]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn 
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

## Importing the dataset

In [44]:
movies = pd.read_csv("ml-1m/movies.dat", 
                     sep = '::',
                     header = None,
                     engine = 'python',
                     encoding = 'latin-1')

In [45]:
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [46]:
users = pd.read_csv("ml-1m/users.dat", 
                     sep = '::',
                     header = None,
                     engine = 'python',
                     encoding = 'latin-1')

In [47]:
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [48]:
ratings = pd.read_csv("ml-1m/ratings.dat", 
                     sep = '::',
                     header = None,
                     engine = 'python',
                     encoding = 'latin-1')
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [49]:
ratings.isna().sum()

0    0
1    0
2    0
3    0
dtype: int64

## Preparing the training set and the test set

In [50]:
training_set = pd.read_csv("ml-100k/u1.base", delimiter = '\t')

In [51]:
training_set.head()

   1  1.1  5  874965758
0  1    2  3  876893171
1  1    3  4  878542960
2  1    4  3  876893119
3  1    5  3  889751712
4  1    7  4  875071561

In [52]:
# Convert into Array
training_set = np.array(training_set, dtype = "int")

In [53]:
len(training_set)

79999

In [54]:
test_set = pd.read_csv("ml-100k/u1.test", delimiter = '\t')
test_set = np.array(test_set, dtype = "int")

## Getting the number of users and movies

In [55]:
nb_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_users

943

In [56]:
nb_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))
nb_movies

1682

## Converting the data into an array with users in lines and movies in columns

In [57]:
def convert(data):
  new_data = []
  for id_user in range(1, nb_users + 1):
    id_movies = data[:,1][data[:,0] == id_user]
    id_ratings = data[:,2][data[:,0] == id_user]
    # Make the unrated movies as zeros
    ratings = np.zeros(nb_movies)
    ratings[id_movies - 1] = id_ratings
    new_data.append(list(ratings))
  return new_data

In [58]:
training_set = convert(training_set)
test_set = convert(test_set)

## Converting the data into Torch tensors

In [59]:
# NumpyArray --> TorchTensor
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

## Creating the architecture of the Neural Network

In [60]:
# SAE - Stacked Auto Encoders

class SAE(nn.Module):

  def __init__(self, ):
    # To inherit methods of `parent class : nn.Module`
    super(SAE, self).__init__()

    # Full Connection (associated with the parent class) with the Linear Class of torch.nn
    # FC1 --> Input to first encoded/hidden layer (**20 neurons taken for example - can be adjusted**)
    self.fc1 = nn.Linear(in_features = nb_movies, out_features = 20)
    self.fc2 = nn.Linear(in_features = 20, out_features = 10)
    self.fc3 = nn.Linear(in_features = 10, out_features = 20)
    # Last layer should have same dimensions as input vector : nb_movies
    self.fc4 = nn.Linear(in_features = 20, out_features = nb_movies)

    # Activation Function
    self.activation = nn.Sigmoid()

  # Encoding and Decoding the input vector
  def forward(self, x):
    # First encoded vector
    x = self.activation(self.fc1(x))
    # Second encoded vector
    x = self.activation(self.fc2(x))
    # Now decoding - part I
    x = self.activation(self.fc3(x))
    # Decoding - part II
    x = self.fc4(x)
    return x

sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

## Training the SAE

In [62]:
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
  train_loss = 0
  s = 0.
  for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = input.clone()
    if torch.sum(target.data > 0) > 0:
      output = sae(input)
      target.require_grad = False
      output[target == 0] = 0
      loss = criterion(output, target)
      mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
      loss.backward()
      train_loss += np.sqrt(loss.data*mean_corrector)
      s += 1.
      optimizer.step()

  print ('epoch: ' + str(epoch) + ' loss: ' + str(train_loss/s))

epoch: 1 loss: tensor(1.7658)
epoch: 2 loss: tensor(1.0965)
epoch: 3 loss: tensor(1.0533)
epoch: 4 loss: tensor(1.0384)
epoch: 5 loss: tensor(1.0309)
epoch: 6 loss: tensor(1.0267)
epoch: 7 loss: tensor(1.0238)
epoch: 8 loss: tensor(1.0221)
epoch: 9 loss: tensor(1.0206)
epoch: 10 loss: tensor(1.0197)
epoch: 11 loss: tensor(1.0189)
epoch: 12 loss: tensor(1.0182)
epoch: 13 loss: tensor(1.0180)
epoch: 14 loss: tensor(1.0173)
epoch: 15 loss: tensor(1.0173)
epoch: 16 loss: tensor(1.0169)
epoch: 17 loss: tensor(1.0169)
epoch: 18 loss: tensor(1.0166)
epoch: 19 loss: tensor(1.0163)
epoch: 20 loss: tensor(1.0162)
epoch: 21 loss: tensor(1.0162)
epoch: 22 loss: tensor(1.0162)
epoch: 23 loss: tensor(1.0161)
epoch: 24 loss: tensor(1.0157)
epoch: 25 loss: tensor(1.0157)
epoch: 26 loss: tensor(1.0157)
epoch: 27 loss: tensor(1.0154)
epoch: 28 loss: tensor(1.0152)
epoch: 29 loss: tensor(1.0130)
epoch: 30 loss: tensor(1.0115)
epoch: 31 loss: tensor(1.0101)
epoch: 32 loss: tensor(1.0072)
epoch: 33 loss: tensor(1.0068)
epoch: 34 loss: tensor(1.0028)
epoch: 35 loss: tensor(1.0023)
epoch: 36 loss: tensor(1.0005)
epoch: 37 loss: tensor(0.9989)
epoch: 38 loss: tensor(0.9971)
epoch: 39 loss: tensor(0.9945)
epoch: 40 loss: tensor(0.9925)
epoch: 41 loss: tensor(0.9919)
epoch: 42 loss: tensor(0.9882)
epoch: 43 loss: tensor(0.9871)
epoch: 44 loss: tensor(0.9857)
epoch: 45 loss: tensor(0.9820)
epoch: 46 loss: tensor(0.9770)
epoch: 47 loss: tensor(0.9766)
epoch: 48 loss: tensor(0.9754)
epoch: 49 loss: tensor(0.9770)
epoch: 50 loss: tensor(0.9777)
epoch: 51 loss: tensor(0.9757)
epoch: 52 loss: tensor(0.9741)
epoch: 53 loss: tensor(0.9779)
epoch: 54 loss: tensor(0.9765)
epoch: 55 loss: tensor(0.9716)
epoch: 56 loss: tensor(0.9772)
epoch: 57 loss: tensor(0.9716)
epoch: 58 loss: tensor(0.9738)
epoch: 59 loss: tensor(0.9748)
epoch: 60 loss: tensor(0.9773)
epoch: 61 loss: tensor(0.9736)
epoch: 62 loss: tensor(0.9702)
epoch: 63 loss: tensor(0.9719)
epoch: 64 loss: tensor(0.9711)
epoch: 65 loss: tensor(0.9730)
epoch: 66 loss: tensor(0.9684)
epoch: 67 loss: tensor(0.9714)
epoch: 68 loss: tensor(0.9697)
epoch: 69 loss: tensor(0.9783)
epoch: 70 loss: tensor(0.9713)
epoch: 71 loss: tensor(0.9717)
epoch: 72 loss: tensor(0.9633)
epoch: 73 loss: tensor(0.9604)
epoch: 74 loss: tensor(0.9596)
epoch: 75 loss: tensor(0.9597)
epoch: 76 loss: tensor(0.9570)
epoch: 77 loss: tensor(0.9563)
epoch: 78 loss: tensor(0.9536)
epoch: 79 loss: tensor(0.9532)
epoch: 80 loss: tensor(0.9500)
epoch: 81 loss: tensor(0.9518)
epoch: 82 loss: tensor(0.9487)
epoch: 83 loss: tensor(0.9489)
epoch: 84 loss: tensor(0.9467)
epoch: 85 loss: tensor(0.9471)
epoch: 86 loss: tensor(0.9437)
epoch: 87 loss: tensor(0.9455)
epoch: 88 loss: tensor(0.9435)
epoch: 89 loss: tensor(0.9448)
epoch: 90 loss: tensor(0.9417)
epoch: 91 loss: tensor(0.9425)
epoch: 92 loss: tensor(0.9408)
epoch: 93 loss: tensor(0.9416)
epoch: 94 loss: tensor(0.9395)
epoch: 95 loss: tensor(0.9404)
epoch: 96 loss: tensor(0.9383)
epoch: 97 loss: tensor(0.9393)
epoch: 98 loss: tensor(0.9378)
epoch: 99 loss: tensor(0.9385)
epoch: 100 loss: tensor(0.9361)
epoch: 101 loss: tensor(0.9372)
epoch: 102 loss: tensor(0.9357)
epoch: 103 loss: tensor(0.9363)
epoch: 104 loss: tensor(0.9347)
epoch: 105 loss: tensor(0.9350)
epoch: 106 loss: tensor(0.9346)
epoch: 107 loss: tensor(0.9350)
epoch: 108 loss: tensor(0.9341)
epoch: 109 loss: tensor(0.9336)
epoch: 110 loss: tensor(0.9332)
epoch: 111 loss: tensor(0.9331)
epoch: 112 loss: tensor(0.9322)
epoch: 113 loss: tensor(0.9327)
epoch: 114 loss: tensor(0.9317)
epoch: 115 loss: tensor(0.9314)
epoch: 116 loss: tensor(0.9308)
epoch: 117 loss: tensor(0.9310)
epoch: 118 loss: tensor(0.9316)
epoch: 119 loss: tensor(0.9305)
epoch: 120 loss: tensor(0.9285)
epoch: 121 loss: tensor(0.9291)
epoch: 122 loss: tensor(0.9287)
epoch: 123 loss: tensor(0.9285)
epoch: 124 loss: tensor(0.9283)
epoch: 125 loss: tensor(0.9285)
epoch: 126 loss: tensor(0.9275)
epoch: 127 loss: tensor(0.9271)
epoch: 128 loss: tensor(0.9275)
epoch: 129 loss: tensor(0.9269)
epoch: 130 loss: tensor(0.9262)
epoch: 131 loss: tensor(0.9258)
epoch: 132 loss: tensor(0.9259)
epoch: 133 loss: tensor(0.9253)
epoch: 134 loss: tensor(0.9247)
epoch: 135 loss: tensor(0.9246)
epoch: 136 loss: tensor(0.9247)
epoch: 137 loss: tensor(0.9243)
epoch: 138 loss: tensor(0.9238)
epoch: 139 loss: tensor(0.9236)
epoch: 140 loss: tensor(0.9232)
epoch: 141 loss: tensor(0.9231)
epoch: 142 loss: tensor(0.9227)
epoch: 143 loss: tensor(0.9229)
epoch: 144 loss: tensor(0.9223)
epoch: 145 loss: tensor(0.9220)
epoch: 146 loss: tensor(0.9217)
epoch: 147 loss: tensor(0.9216)
epoch: 148 loss: tensor(0.9211)
epoch: 149 loss: tensor(0.9210)
epoch: 150 loss: tensor(0.9209)
epoch: 151 loss: tensor(0.9208)
epoch: 152 loss: tensor(0.9208)
epoch: 153 loss: tensor(0.9204)
epoch: 154 loss: tensor(0.9201)
epoch: 155 loss: tensor(0.9198)
epoch: 156 loss: tensor(0.9197)
epoch: 157 loss: tensor(0.9198)
epoch: 158 loss: tensor(0.9201)
epoch: 159 loss: tensor(0.9199)
epoch: 160 loss: tensor(0.9195)
epoch: 161 loss: tensor(0.9189)
epoch: 162 loss: tensor(0.9189)
epoch: 163 loss: tensor(0.9189)
epoch: 164 loss: tensor(0.9184)
epoch: 165 loss: tensor(0.9184)
epoch: 166 loss: tensor(0.9181)
epoch: 167 loss: tensor(0.9179)
epoch: 168 loss: tensor(0.9177)
epoch: 169 loss: tensor(0.9177)
epoch: 170 loss: tensor(0.9176)
epoch: 171 loss: tensor(0.9178)
epoch: 172 loss: tensor(0.9174)
epoch: 173 loss: tensor(0.9173)
epoch: 174 loss: tensor(0.9169)
epoch: 175 loss: tensor(0.9168)
epoch: 176 loss: tensor(0.9169)
epoch: 177 loss: tensor(0.9168)
epoch: 178 loss: tensor(0.9165)
epoch: 179 loss: tensor(0.9162)
epoch: 180 loss: tensor(0.9158)
epoch: 181 loss: tensor(0.9160)
epoch: 182 loss: tensor(0.9159)
epoch: 183 loss: tensor(0.9158)
epoch: 184 loss: tensor(0.9155)
epoch: 185 loss: tensor(0.9156)
epoch: 186 loss: tensor(0.9156)
epoch: 187 loss: tensor(0.9151)
epoch: 188 loss: tensor(0.9151)
epoch: 189 loss: tensor(0.9149)
epoch: 190 loss: tensor(0.9151)
epoch: 191 loss: tensor(0.9150)
epoch: 192 loss: tensor(0.9148)
epoch: 193 loss: tensor(0.9146)
epoch: 194 loss: tensor(0.9142)
epoch: 195 loss: tensor(0.9142)
epoch: 196 loss: tensor(0.9138)
epoch: 197 loss: tensor(0.9139)
epoch: 198 loss: tensor(0.9138)
epoch: 199 loss: tensor(0.9134)
epoch: 200 loss: tensor(0.9133)

## Testing the SAE

In [65]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
  input = Variable(training_set[id_user]).unsqueeze(0)
  target = Variable(test_set[id_user]).unsqueeze(0)
  if torch.sum(target.data > 0) > 0:
    output = sae(input)
    target.require_grad = False
    output[target == 0] = 0
    loss = criterion(output, target)
    mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
    test_loss += np.sqrt(loss.data*mean_corrector)
    s += 1.

print ('Loss: ' + str(test_loss/s))

Loss: tensor(0.9496)